<!DOCTYPE html>
<html>
	<head>
		<title>Ordering Management System DEMO</title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!--STYLES-->
<link rel="stylesheet" href="/styles/bootstrap/bootstrap-theme.css">
<link rel="stylesheet" href="/styles/bootstrap/bootstrap.css">
<link rel="stylesheet" href="/styles/jqueryUI/jquery-ui.css">
<link rel="stylesheet" href="/styles/jqueryUI/jquery-ui.structure.css">
<link rel="stylesheet" href="/styles/jqueryUI/jquery-ui.theme.css">
<link rel="stylesheet" href="/styles/application.css">
<link rel="stylesheet" href="/styles/importer.css">
<!--STYLES END-->

		<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/jQuery/jquery-1.11.1.min.js"></script>
<script src="/js/jQuery/jquery-ui.js"></script>
<script src="/js/jQuery/jquery.validate.min.js"></script>
<script src="/js/bootstrap/bootstrap.js"></script>
<script src="/js/staff/deleteStaff.js"></script>
<script src="/js/staff/editStaff.js"></script>
<script src="/js/staff/newStaff.js"></script>
<script src="/js/staff/newStaffValidation.js"></script>
<script src="/js/staff/searchStaff.js"></script>
<script src="/js/staff/showStaffMember.js"></script>
<!--SCRIPTS END-->

	</head>

	<body>

		<div id="mainContainer">
			<div id="header">
				<div class="navbar navbar-inverse">
					<div class="container">
						<ul class="nav navbar-nav">
							<li>
								<a class="" href="/">Home</a>
							</li>
							<li class="dropdown">
								<a href="#" data-toggle="dropdown" class="dropdown-toggle">Staff<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="dropdown">
										<a href="/admin/staff/index">All</a>
									</li>
									<li class="divider"></li>
									<li class="dropdown">
										<a href="/admin/staff/new">New staff member</a>
									</li>
									<li class="divider"></li>
									<li class="dropdown">
										<a href="/admin/staff/search">Search staff</a>
									</li>
								</ul>
							</li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Product<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown">
                                        <a href="/admin/product/index">All</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown">
                                        <a href="/admin/product/new">New product</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown">
                                        <a href="/admin/product/search">Search product</a>
                                    </li>
                                </ul>
                            </li>
						</ul>
						<% if (!req.session.current_user) { %>
						<ul class="navbar-nav nav pull-right">
							<li>
								<a href="/login">Login</a>
							</li>
							<li>
								<a href="/userexamples/new">Sign-up</a>
							</li>
						</ul>
						<% } %>

					</div>
				</div>

				<div id="flash_messages" class="text-center">
					<% if (req.session.flash) { %>
					<% if (req.session.flash.errors) { %>
					<ul class="alert alert-danger text-center" style="width:50em;">
						<li>
							<%- JSON.stringify(req.session.flash.errors) %>
						</li>
					</ul>
					<% req.session.flash = {} %>
					<% } %>
					<% if (req.session.flash.success) { %>
					<ul class="alert alert-success text-center" style="width:50em;">
						<li>
							<%- JSON.stringify(req.session.flash.success) %>
						</li>
					</ul>
					<% req.session.flash = {} %>
					<% } %>
					<% } %>
				</div>
			</div>

			<div id="pageContent">
				<%- body %>
			</div>

			<div id="footer">
				<footer>
					<p class="pull-right" style="margin-right: 1em;">
						<a href="#header"> <img class="btn-img" src="/images/back_to_top.png" alt="go up"> </a>
					</p>
					<p style="color: black; font-weight: bold; padding-top: 0.5em;" class="text-center">
						&copy; 2014 Kurosawa-E Development Team | Patent Pending &middot;
						<%- link_to("Privacy", "add-later") %> &middot;
						<%- link_to("Terms and conditions", "add-later") %>
					</p>
				</footer>
			</div>
		</div>
	</body>
</html>
