<div class="title">
	<h2 class="form-signin-heading">Staff member :: <strong><%= member.firstName + " " + member.lastName %></strong></h2>
</div>
<br/>
<br/>
<br/>

<form action="/admin/staff" method="GET" class="form-signin">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<ul id="staffTab" class="nav nav-tabs">
				<li class="active">
					<a href="#basicInfo" data-toggle="tab">Basic Info</a>
				</li>
				<li>
					<a href="#contactInfo" data-toggle="tab">Contact Info</a>
				</li>
				<li>
					<a href="#otherInfo" data-toggle="tab">Other Info</a>
				</li>
			</ul>

			<div id="staffTabContent" class="tab-content">

				<div class="tab-pane fade active in" id="basicInfo">
					<br/>

					<div class="form-group col-sm-12">
						<label>Email:</label>
						<%= member.email %>
					</div>

					<div class="form-group col-md-6 col-sm-6">
						<label>First Name:</label>
						<%= member.firstName %>
					</div>

					<div class="form-group col-md-6 col-sm-6">
						<label>Last Name:</label>
						<%= member.lastName %>
					</div>

					<div class="form-group col-md-6 col-sm-6">
						<label>Birth Date:</label>											
						<%- member.birthDate == "" ? "" : date_tag("birthDate", new Date(member.birthDate)) %>
					</div>

					<div class="form-group col-md-6 col-sm-6">
						<label>Place of birth:</label>
						<%= member.placeOfBirth %>
					</div>

				</div>

				<div class="tab-pane fade in" id="contactInfo">
					<br/>

					<div class="form-group col-md-6 col-sm-6">
						<label>Address:</label>
						<%= member.address %>
					</div>
					<div class="form-group col-md-6 col-sm-6">
						<label>Zip code:</label>
						<%= member.zipCode %>
					</div>

					<div class="form-group col-md-6 col-sm-6">
						<label>City:</label>
						<%= member.city %>
					</div>
					<div class="form-group col-md-6 col-sm-6">
						<label>Country:</label>
						<%= member.country %>
					</div>

					<div class="form-group col-md-6 col-sm-6">
						<label>Phone number 1:</label>
						<%= member.phoneNumber1 %>
					</div>
					<div class="form-group col-md-6 col-sm-6">
						<label>Phone number 2:</label>
						<%= member.phoneNumber2 %>
					</div>
				</div>

				<div class="tab-pane fade in" id="otherInfo">
					<br/>

					<div class="form-group col-md-6 col-sm-6">
						<label>Job title:</label>
						<%= member.jobTitle %>
					</div>
					<div class="form-group col-md-6 col-sm-6">
						<label>Salary:</label>
						<%= member.salary %>
					</div>
					<div class="form-group col-md-6 col-sm-6">
						<label>Is admin:</label>
						<%= member.isAdmin ? "Yes" : "No" %>
					</div>

					<div class="form-group col-md-6 col-sm-6">
						<label>Hire date:</label>
						<%- member.hireDate == "" ? "" : date_tag("hireDate", new Date(member.hireDate)) %>
					</div>
				</div>
			</div>
			<br/>
			<br/>

			<div class="form-group col-md-12 col-sm-12">
				<%- link_to_if(true, "Back", "/admin/staff", {class: "btn btn-sm btn-primary"}) %>
			</div>
		</div>
	</div>
	<input id="csrf" type="hidden" name="_csrf" value="<%= _csrf %>" />

</form>